<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049002475017-hf52qr6ipqtd9d66de70e4bjolinhus2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049002475017-hf52qr6ipqtd9d66de70e4bjolinhus2</string>
	<key>API_KEY</key>
	<string>AIzaSyABz8xU-GnuN0a2nm6-1_8CUPs7Ki7yn-o</string>
	<key>GCM_SENDER_ID</key>
	<string>1049002475017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.gatorroundup</string>
	<key>PROJECT_ID</key>
	<string>gatorroundup</string>
	<key>STORAGE_BUCKET</key>
	<string>gatorroundup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049002475017:ios:d75c0a6fb3c3640b6d82d8</string>
</dict>
</plist>